mat-form-field,
textarea {
  width: 100%
}

p {
  text-align: right;
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
}


mat-spinner {
  margin: auto;
}


input[type="file"] {
  visibility: hidden;
}


.image-preview {
  height:  200px;
}

.image-preview img {
  height: 100%;
}
