<mat-card>
  <h2 class='mat-3'>Create your posts here!</h2>
  <form (submit)="onAddComments(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Please enter here"
        name="title"
        ngModel
        required
        #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter post's title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Please enter here"
        name="content"
        ngModel
        required
        #content="ngModel">
      </textarea>
        <mat-error *ngIf="content.invalid">Please enter post's content</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color='primary'
      type='Submit'>
      Submit
    </button>
  </form>
</mat-card>

